
*.bak
*.tmp
*.obj

*.o
*.d
*.crf

ble_peripheral/ble_app_tuds/pca10056/s140/arm5_no_packs/_build/

ble_peripheral/ble_app_hrs/pca10056/s140/arm5_no_packs/_build/
ble_peripheral/ble_app_hrs/pca10056/s140/armgcc/
ble_peripheral/ble_app_hrs/pca10056/s140/arm4/
ble_peripheral/ble_app_hrs/pca10056/s140/iar/

ble_peripheral/ble_app_hrs/pca10056/ser_s140_hci/
ble_peripheral/ble_app_hrs/pca10056/ser_s140_spi/
ble_peripheral/ble_app_hrs/pca10056/ser_s140_spi_5W/
ble_peripheral/ble_app_hrs/pca10056/ser_s140_uart/

ble_peripheral/ble_app_hrs/pca10040/
